<form class="difficulty-list">
    <h4>Sélectionnez la difficulté</h4>
    <ul>
        <li class="element difficulty">
            <input type="radio" id="choice1" class="choice" name="difficulty" value="easy">
            <label for="choice1">Facile</label>
        </li>
        <li class="element difficulty">
            <input type="radio" id="choice2" class="choice" name="difficulty" value="medium">
            <label for="choice2">Moyen</label>
        </li>
        <li class="element difficulty">
            <input type="radio" id="choice3" class="choice" name="difficulty" value="hard">
            <label for="choice3">Difficile</label>
        </li>
    </ul>
    <br/>
    <br/>
    <button class="start-button" id="start-button">Commencer</button>
</form>