<form class="responses-list">
    <ul>
        <li class="element response">
            <input type="radio" id="choice1" class="choice" name="response" value="{{ value1 }}">
            <label for="choice1">{{ choice1 }}</label>
        </li>
        <li class="element response">
            <input type="radio" id="choice2" class="choice" name="response" value="{{ value2 }}">
            <label for="choice2">{{ choice2 }}</label>
        </li>
        <li class="element response">
            <input type="radio" id="choice3" class="choice" name="response" value="{{ value3 }}">
            <label for="choice3">{{ choice3 }}</label>
        </li>
        <li class="element response">
            <input type="radio" id="choice4" class="choice" name="response" value="{{ value4 }}">
            <label for="choice4">{{ choice4 }}</label>
        </li>
    </ul>
</form>